{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="home-section">
  <div class="text-center">
    <h1>Welcome to The Posting Hub</h1>
    <p>Share yout thoughts. Find what matters.</p>
    <button class="btn">Create Post -></button>
  </div>
</section>

<div class="line-break"></div>

<section id="read-article-section">
  <img src="../../../static/homepage/Latest Articles.png" alt="Home page read articles image" />
</section>

<section id="features-section">
  <h2>WRITE.SHARE.INSPIRE</h2>
  <p>Discover stories, express our thoughts, and connect with a community<br> that thrives on creativity.</p>
  <div class="card-container">
    <div class="card">
      <img src="../../../static/homepage/Feature One.png" alt="Grow your advance">
      <p>Grow your advance</p>
      <p>Reach readers across the globe and build your writing community in one place.</p>
    </div>
    <div class="card">
      <img src="../../../static/homepage/Feature Two.png" alt="Enagage deeply">
      <p>Enagage Deeply</p>
      <p>Connect through comments, likes, and personalized recommendations that keep the conversation going.</p>
    </div>
    <div class="card">
      <img src="../../../static/homepage/Feature Three.png" alt="Create with clarify">
      <p>Create with Clarity</p>
      <p>Compose your thoughts effortlessly with intuitive tools that let your voice shine.</p>
    </div>
  </div>
</section>

<div class="line-break"></div>

<section id="post-section">
  <h2>What’s Trending Across the Hub</h2>
  <p>From viral snapshots to powerful words, these posts are making waves.<br> Explore the top moments that are taking
    over the community right now.</p>
  <div class="card-container">
    <div class="card">
      <p>"I’ve tried several content generation tools, but this AI-driven tool is by far the best. It understands my
        brand’s voice and consistently produces content that resonates with my audience!"</p>
      <div><img src="../../../static/team-photos/anas-team-photo.jpg" alt="User Image">
        <p>Anas Rahim</p>
      </div>
    </div>

    <div class="card">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Curabitur
        blandit tempus porttitor. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet
        fermentum.</p>
      <div><img src="../../../static/team-photos/anas-team-photo.jpg" alt="User Image">
        <p>Anas Rahim</p>
      </div>
    </div>

    <div class="card">
      <p>Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur
        tortor.</p>
      <div><img src="../../../static/team-photos/anas-team-photo.jpg" alt="User Image">
        <p>Anas Rahim</p>
      </div>
    </div>

    <div class="card">
      <p>"I’ve tried several content generation tools, but this AI-driven tool is by far the best. It understands my
        brand’s voice and consistently produces content that resonates with my audience!"</p>
      <div><img src="../../../static/team-photos/anas-team-photo.jpg" alt="User Image">
        <p>Anas Rahim</p>
      </div>
    </div>
  </div>
</section>

<section id="about-section">
  <h2>ABOUT US</h2>
  <p>Need help, have feedback, or just want to say hi? Our team is always ready to hear from you.<br>
    Let's connect and make your experience even better.</p>
  <button class="btn">About Us</button>
  <div class="card-container">
    <div class="card">
      <h3>Mission Statement</h3>
      <p>Empowering voices through blogging. Connecting writers with readers.</p>
    </div>
    <div class="card">
      <h3>Who We Are?</h3>
      <p>We’re a small team of tech enthusiasts and writers who believe everyone has a story to share.</p>
    </div>
    <div class="card">
      <h3>Our Core Values</h3>
      <p>Transparency, creativity, inclusivity, and continuous growth — these are the principles we live by.</p>
    </div>
    <div class="card">
      <h3>Why Choose Us</h3>
      <p>Unlike other platforms, we focus on minimalism, community-driven content, and creative freedom.</p>
    </div>
  </div>
</section>

<div class="line-break"></div>

<section id="contact-section">
  <h2>Have Questions? We're Just a Click Away</h2>
  <p>Need help, have feedback, or just want to say hi? Our team is always ready to hear from you.<br>
    Let's connect and make your experience even better.</p>
  <button class="btn">Contact Us</button>
</section>

{% endblock %}